@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Tajawal", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-white text-slate-900;
  direction: rtl;
}

.tab-active {
  @apply text-blue-500;
}

.tab-inactive {
  @apply text-slate-400;
}
